@page
@model AboutModel
@{
    <div class="text-center">
       


        <h1>This is my week 7 Assignment For CIT365</h1>
        <br />
        <div class="aboutPage">
            <label class="containers">
                View all records (scripture journal entry)
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
            <label class="containers">
                View individual entries in a detail view
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="containers">
                Add a new scripture journal entry
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="containers">
                Edit an existing record
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="containers">
                Delete records with confirmation
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
            <label class="containers">
                Search by book
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="containers">
                Search by keyword from the note field
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="containers">
                Sort by book
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="containers">
                Sort by date added
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="containers">
                Use contemporary, valid HTML and CSS checked with a W3C validator
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="containers">
                Use external Google font or fonts depending upon your styling (fonts.google.com)
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="containers">
                Follow basic proximity, alignment, repetition, contrast, and typography design principles.
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>

}
