@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to my Scripture Journal Home Page</h1>
        <p id="lds">Learn about <a href="https://www.churchofjesuschrist.org/?lang=eng"> The Church of Jesus Christ of Latter Day Saints</a>.</p>
        <ul>
            <li class="frontPage">
                <a class="nav-link text-dark" asp-area="" asp-page="./Scriptures/Index">My Scripture Journal</a>
            </li>
        </ul>
        <img src="~/img/jesus-fulfillment-isaiahs-prophecy-949077-gallery.jpg" alt="Picture of Chirst Preaching the Gospel" class="responsive"/>
    </div>
