@{
    ViewData["Title"] = "Home Page";
}


    <div class="text-center">
        <h1 class="display-4">LDS Themed Movie Application!</h1>
        <br /> <br />

        <a asp-controller="Movies" asp-action="Index" class="ClickHere">Click Here to View LDS Themed Movie Index Now!</a>
        <br /> <br /> <br />

        <div class="containerOne">

            <img src="~/img/reel.jpg" alt="movie reel" class="backgroundImg" />

            <div class="centered">

                <img src="~/img/movieApp2.jpg" alt="Couple Watching Movie" width="600px" height="400px" class="frontPage" />

            </div>





        </div>


    </div>
</div>
